body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0c0c0c;
}

h1 {
    color: #333;
}

#container {
    height: 800px;
    width: 950px;
    border: 1px solid #4f4f4f;
}

.monaco-editor .cursor {
    border-radius: 6px;  /* Adjust the radius to your preference */
}


.monaco-editor .highlighted {
  color: #42D6FF
}

.monaco-editor .bracketHighlight0 {
  color: #1ca182 
}

.monaco-editor .bracketHighlight1 {
  color: #6b90ff
}

.monaco-editor .bracketHighlight2 {
  color: #fe00ff
}

.monaco-editor .parenHighlight0 {
  color: #fe00ff
}

.monaco-editor .parenHighlight1 {
  color: #1ca182
}

.monaco-editor .parenHighlight2 {
  color: #6b90ff
}

/* Default button style */
.action-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all 0.2s ease; /* Smooth transition for size/color changes */
  }
  
  /* Hover style (optional) */
  .action-button:hover {
    background-color: #45a049;
  }
  
  /* Active style (when button is clicked) */
  .action-button:active {
    background-color: #3e8e41;
    transform: scale(0.95); /* Shrink slightly for a "pressing" effect */
  }
  

