body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0c0c0c;
}

h1 {
    color: #333;
}

#container {
    height: 800px;
    width: 950px;
    border: 1px solid #4f4f4f;
}

.monaco-editor .cursor {
    border-radius: 6px;  /* Adjust the radius to your preference */
}

